*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #333;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, .9);
    border-bottom: 3px solid #008ed6;
    z-index: 100;
}
header.sticky{
    position: fixed;
    animation: header .5s ease;
}
@keyframes header{
	0%{transform: translateY(-100%);opacity:0}
	100%{transform: translateY(0%)}
}
.navbar .navbar-brand{
    font-size: 30px;
}
.navbar .navbar-nav .nav-link{
    position: relative;
    font-size: 20px;
   margin-right: 15px;
}
.navbar .navbar-nav .nav-link::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background: #fff;
    top: 43px;
    left: 0;
    margin-left: 7px;
    transition: width .5s ease;
}
.navbar .navbar-nav .nav-item:hover .nav-link::before{
    width: 80%;
}

#home{
    background: url('ab3.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;

}
.dark-overlay{
    background: rgba(0,0,0,0.7);
    min-height: 700px;
}
.x .fa{
    background: #fff;
    color: #008ed6;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}
.card-form{
    opacity: .8;
}
.home-inner{
    padding-top: 150px;
    padding-bottom: 50px;
}
.explore-body{
    background-color: #F8F9FA;
}
.img img{
    width: 100%;
}
.y .fa{
    background: #333333;
    color: #FFFFFF;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}
.text-white{
    color: white;
}
.max img{
    max-height: 400px;
}





@media(max-width: 768px){
    #home h1{
        font-size: 36px;
    }
}
@media(max-width:360px){
    #home i{
        font-size: 25px;
    }
    #home .lead{
        
    }
}